<?xml version="1.0"?>
<!--
/**
 * Copyright © Vaimo Group. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <admin_auto_login>
                <active>1</active>
            </admin_auto_login>
        </admin>
    </default>
</config>
