<?xml version="1.0"?>
<!--
/**
 * Copyright © Vaimo Group. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="admin_auto_login" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Admin Auto Login</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="user" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auto login user</label>
                    <source_model>Vaimo\AdminAutoLogin\Model\Config\Source\AdminUser</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
